body {
  margin: 0;
}

#name-text {
text-shadow: 2px 2px 0px #08853e;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  overflow-y: auto
}

main {
  margin-left: 280px;

}